<%= render "shared/header" %>


<h2>スケジュール詳細</h2>

<table>
    <tr>
        <th>タイトル</th>
        <td><%= @schedule.title %></td>
    </tr>
    <tr>
        <th>開始日</th>
        <td><%= @schedule.start_date%></td>
    </tr>
    <tr>
        <th>終了日</th>
        <td><%= @schedule.end_date %></td>
    </tr>
    <tr>
        <th>終日</th>
        <td><%= @schedule.all_day ? '○' : '' %></td>
    </tr>
    <tr>
        <th>メモ</th>
        <td><%= @schedule.memo %></td>
    </tr>
    </tr>
</table>

<div>
    <ul class="input_box">
        <li><%= link_to"ユーザー情報一覧に戻る", :schedules %></li>
    </ul>
</div>

<%= render "shared/footer" %>